@charset "utf-8";


* {
 margin: 0;
 padding: 0;
 font-family: Arial, sans-serif;
}

body {
  background: #0d1117;
  color: #ffffff;
}

img {
  max-width: 100%;
}

h {
  margin-top: 15px;
  margin-bottom: 10px;
}
h1 {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #6b746d;
}
h2 {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #6b746d;
}
h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #6b746d;
}
h4 {
  margin-top: 15px;
  margin-bottom: 10px;
  color: #6b746d;
}

p {
  margin-top: 15px;
  margin-bottom: 10px;
}

a:link {
  color: #2f81f7;
  text-decoration: none;
}
a:visited {
  color: #0f5ed0;
  opacity: .9;
  text-decoration: none;
}
a:hover {
  color: #71abff;
  opacity: .8;
  text-decoration: underline;
}

.central {
	width: 100%;
	float: left;
	text-align: center;
}

.container {
  width: 60%;
  margin-left: 19%;
  margin-bottom: 10px;
  padding: 1%;
  float: left;
}

.corpo {
  width: 100%;
  float: left;
}

.sp-index {
  font-size: 1.3em;
  font-weight: bold;
  color: #ff0000;
}

.input-padrao {
  width: calc(92% - 4px);
  float: left;
  padding: 2%;
  margin: 15px 2%;
  font-size: 1.1em;
  font-weight: bold;
  background: rgba(0,0,0,.1);
  border: 2px solid #6b746d;
  color: #ffffff;
  border-radius: 5px;
}

.bt-padrao {
  width: calc(92% - 4px);
  float: left;
  padding: 2%;
  margin: 15px 2%;
  font-size: 1.1em;
  font-weight: bold;
  background: #2f81f7;
  border: 2px solid #2f81f7;
  color: #ffffff;
  border-radius: 0 5px 5px 0;
  text-align: center;
}

.p-lista{
  font-size: 1.5em;
  font-weight: bold;
}


/*   MOBILE   */


@media only screen and (max-width: 767px) {

    .corpo, .central, .duplo, .triplo, .doistriplos {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .container, .container-c, .menu-cima-container {
        width: 95%;
        margin: 0 1%;
        padding: 1%;
    }
  }
